PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://postgres.hqtetheuklfmgublxczb:Vinaybhar400@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true
JWT_SECRET=djklqndjqndjkqnkjn
JWT_EXPIRES_IN=1d
SUPABASE_URL=https://hqtetheuklfmgublxczb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhxdGV0aGV1a2xmbWd1Ymx4Y3piIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxNzQyMDUsImV4cCI6MjA5OTc1MDIwNX0.FS6hikuzsdAGlZQu4jnIgU3o_IG78uvRxcKl-JEDzRU
AI_BACKEND_URL=http://127.0.0.1:8001
